.nav-bar {
    background-color: #333;
    color: #fff;
  }
  
  .nav-bar ul {
    list-style: none;
    padding: 100;
    margin: 0;
    display: flex;
  }
  
  .nav-bar li {
    margin-right: 100px;
    border-inline-start-color: #fff;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-bar a:hover {
    text-decoration: underline;
  }